/* ... Variables CSS ... */

:root {
    /* Text styles */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    color: rgba(0, 0, 0, 0.747);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Box styles */
    color-scheme: light dark;
    background-color: #242424;

    /* Constants */
    /* 
     - Colors
    */

    /* 
     - Typography
    */
    --fs-16: 16px;
}

/* ... Reset Basico ... */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Box styles */
    height: 100%;

    /* Text styles */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    /* font-size: 1rem*/
}

body {
    /* Text styles */
    font-size: 1.6rem;
    padding: 25px;
    background-color: var(--very-light-gray);

    /* Display/position styles */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr;  */

    /* Box styles */
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    /* height: 100%; active for desktop */
    padding: 1rem;
    border: 1px solid red;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

#root,
#__next {
    isolation: isolate;
}

/* ... Código CSS para el proyecto ... */


footer {
    align-self: flex-end;
}

/* ... Media Queries ... */

@media screen and (width>768px) {}